<footer class="footer">
	<div class="footer-container">
		<div class="footer-logo">
			<a href="https://sdeehub.github.io/sdee.co/{% if site.url == 'https://sdeehub.github.io/sdee.co/' and page.url == '/' %}#" data-scroll{% else %}" target="_blank" rel="noopener noreferrer"{% endif %} aria-label="Visit 'Made by Connor.'">{% include custom/logo.html %}</a>
		</div>
		<div class="footer-navigation">
			<div class="footer-links">
				<h4 class="footer-title">{{ site.title }}</h4>
				<nav>
					<ul class="nav">
						<li class="nav-link">
							<a href="https://sdeehub.github.io/love" target="_blank" rel="noopener noreferrer" aria-label="love">love</a>
						</li>
						<li class="nav-link">
							<a href="https://sdeehub.github.io/i.learn" target="_blank" rel="noopener noreferrer" aria-label="i.learn">i.learn</a>
						</li>
						<li class="nav-link">
							<a href="https://sdeehub.github.io/whats.good" target="_blank" rel="noopener noreferrer" aria-label="whats.good">whats.good</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="footer-links">
				<h4 class="footer-title">SDEE's</h4>
				<nav>
					<ul class="nav">
						<li class="nav-link">
							<a href="https://sdeehub.github.io/cpe" target="_blank" rel="noopener noreferrer" aria-label="work">cpe</a>
						</li>
						<li class="nav-link">
							<a href="https://sdeehub.github.io/real.life" target="_blank" rel="noopener noreferrer" aria-label="real.life">real.life</a>
						</li>
						<li class="nav-link">
							<a href="https://sdeehub.github.io/aroi.sdee" target="_blank" rel="noopener noreferrer" aria-label="food">aroi.sdee</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<h6 class="footer-text">Theme by <a href="https://twitter.com/connor_baer" aria-label="Follow Connor Bär on Twitter.">Connor Bär</a> © F426 by <a href="https://twitter.com/odd_daboss" aria-label="Follow SDEEs.RealLife on Twitter.">SDEE'sReal.Life</a></h6>
	</div>
</footer>
