---
layout: default
font: macro
---

<article class="recipe{% if page.ingredients %} recipe-hasSidebar{% endif %}{% if page.image %} recipe-hasBackground{% endif %}">
  <div class="content-top">
    {% include core/metabar.html %}

    {% if page.image %}
      <div class="hero-background" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}/posts/{{ page.ref }}-large.jpg') 2x )"></div>
      <div class="hero-overlay"></div>
    {% endif %}

    <header class="content hero">
      <a id="{{ page.title | url_encode }}"><h1 class="hero-title" style="font-family:Prompt;">{{ page.title }}</h1></a>
      {% include custom/meta.html %}
    </header>
  </div>

  {% if page.credit-name %}
    <div class="content">
      <div class="footer-text">Photo by <a href="https://unsplash.com/{{ page.credit-user }}">{{ page.credit-name}}</a> on <a href="https://unsplash.com/">Unsplash</a></i></div>
    </div>
  {% endif %}

  {% if page.ingredients %}
    {% include custom/sidebar.html %}
  {% endif %}

  <div class="content-bottom">
    <div class="content content-recipe content-style">

      {{ content }}

      {% include core/share.html %}

    </div>

    {% include core/footer.html %}
  </div>
</article>
